

h1 {
    padding: .30rem .0rem .0rem .0rem;
    background-color: #033949;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    color: #fff;
    
  }
  
  h1 .highlight {
    color: #A4FF4A;
  }

  img {
    padding: .30rem .0rem .0rem .0rem;
  }

  .navbartwo {
    
    text-align: right;

  }


  .holenav {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    background-color: #033949; 
   
  }